* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background: linear-gradient(to left, #3a7bd5, #00d2ff);
}

#tituloLogo {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 90px;
    padding: 20px 0px;
    color: #fff;
    letter-spacing: 5px;
    font-weight:bold;
    border-bottom: 1px solid #fff;
}

.nav-link {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;

}

.nav-link:hover {
    color: #fff;
}

.tituloHeader {
    margin: 18px 0px;
    color: #fff;
}

.containerTitulo {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 60px 0px;
}

#titulo {
    border-bottom: 1px solid #00d2ff;
    font-family: 'Roboto', sans-serif;
    font-size: calc(1.375rem + 1.5vw);
}

#txtBienvenida {
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

ul > li {
    color: #3a7bd5;
}
ul > li > #textoLista {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.textoJq {
    color: #3a7bd5;
    font-size: 20px;
    margin-top: 20px;
}

.btn-success, .btn-success:hover {
    border: #B6B6B6;
    background-color: #B6B6B6;
}

#formDatos, #formWebs, #textoPrecio {
    font-family: 'Roboto', sans-serif;
}


#nuSecciones {
    width: 65px;
    height: 40px;
}

#precioFinal {
    margin-top: 25px;
    margin-bottom: 50px;
}

footer, #textoFooter {
    background: linear-gradient(to left, #3a7bd5, #00d2ff);
    margin-bottom: 0px;
    font-weight: normal;
}

#copyright {
    font-size: 13px;
    padding: 10px;
    color: white; 
}

.row {
        --bs-gutter-x: 0;
}

/* Efecto hover de NAV */
.menu li {
    margin-right: 70px;
  }
  
  .menu a {
    position: relative;
    display: block;
    padding: 5px;
  }
  
  .menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #4a4a48, #2b2b28);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  
  .menu a:hover::before {
    transform: scaleX(1);
  }

  /* Animacion */

  .menu[data-animation="center"] a::before {
    transform-origin: center;
  } 

  /*MEDIA QUERIES */
/*Extra Small */
  @media (max-width: 575.98px) { 
      #tituloLogo {
            font-size: 35px;
        }
      .menu li {
        margin: 0px 15px;
        }
        .nav-link {
            font-size: 14px;
        }
        .justify-content-around {
            display:block !important;
            text-align: center;
        }
   }

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
    #tituloLogo {
        font-size: 40px;
    }
    .menu li {
        margin: 0px 15px;
    }
    .nav-link {
        font-size: 16px;
    }
    .justify-content-around {
        display:block !important;
        text-align: center;
    } 
 }
/*Medium */
 @media (max-width: 991.98px) { 
    #tituloLogo {
        font-size: 45px;
    }
    .menu li {
        margin: 0px 15px;
    }
    .nav-link {
        font-size: 18px;
    }
    .justify-content-around {
        display:block !important;
        text-align: center;
    } 
}